figure {
    float: right;
}

header {
    height: 20vw;
    width: 100%;
    background: url(../images/Persona+4+Golden.png);
    background-size: cover;
}

#headerText {
    text-align: center;
}

nav {
    position: sticky;
    top: 0;
}

nav li {
    padding: .75em;
}

.icon {
    padding: 0 6px 0 6px;
}

li {
    padding: 4px;
}

#mainFlex {
    display: flex;
    align-content: flex-start;
}

#navFlex {
    display: flex;
    flex: 1 0 15%;
    padding: 1em;
    flex-flow: column wrap;
    min-width: 200px;
}

#logoImage {
    position: absolute;
    display: inline-block;
    top: 10px;
    right: 10px;
    max-width: 40px;
}

#sectFlex {
    flex: 1 1 60%;
    padding: 1em;
    align-self: auto;
}

aside {
    flex: 1 1 17.2%;
    padding: 1em;
}

#border {
    box-sizing: border-box;
    border-radius: 0%;
    margin-bottom: 8px;
    padding-bottom: 8px;
    width: auto;
}

figure {
    box-sizing: border-box;
    display: block;
    float: left;
    height: auto;
    width: auto;
}

.flexImage {
    max-width: 100%;
}

footer {
    clear: both;
}

footer > p {
    margin: 0;
    padding: 10px 0;
}