/*Update test*/
/*Update test 2*/

header {
    height: 20vw;
    width: 100%;
    background: url(../images/Persona+4+Golden.png) no-repeat center;
    background-size: cover;
}

.icon {
    padding: 0 6px 0 6px;
}

.logo2 {
    position: absolute;
    display: inline-block;
    top: 1px;
    right: 1px;
    max-width: 37px;
}

.logoImage {
    position: absolute;
    display: inline-block;
    top: 1px;
    left: 1px;
    max-width: 35px;
}

h2 {
    margin: 1.245em 0;
}

h3 {
    margin: 1.3em 0;
}

#headerText {
    text-align: center;
}

.main-nav, #nav-top {
    position: sticky;
    top: 0;
}

nav li {
    padding: .75em;
}

ul {
    margin: 0em;
}

li {
    padding: 4px;
}

blockquote {
    margin: 1.2em 0;
}

p {
    margin: 1.2em 0;
}

.flexImage {
    max-width: 100%;
}

.photo {
    max-width: 50%;
}

footer {
    clear: both;
    padding: 2em;
}

.footerFrost {
    max-width: 50px;
    max-height: 50px;
}

.footerPyro {
    max-width: 50px;
    max-height: 50px;
}

@media screen and (max-width: 499px) {
    #mainFlex {
        display: none;
    }

    .mobile-h2, .aside {
        display: none;
    }
    
    header h1 {
        font-size: x-large;
    }

    .mobile-faq {
        margin: 0;
    }

    .ul {
        margin: 0;
    }

    h2 {
        text-align: center;
    }

    .button {
        padding: 16px 16px;
    }
}

@media screen and (max-width: 500px) {
    header h1 {
        font-size: x-large;
       }
}

@media screen and (min-width: 500px) {

   .mobile-faq, .mobile-nav, .mobile-main, #nav-top {
        display: none;
   }

   .button {
    padding: 0;
   }

   .nav-button {
        display: flex;
        justify-content: space-evenly;
   }

    section h2, aside h2, .grid-h2{
        text-align: center;
    }

    nav h2, main {
        margin: 0;
    }

    ul {
        margin: 1em;
    }

}

@media screen and (max-width: 699px) {

    .desk-top {
        display: none
    }
}

@media screen and (max-width: 999px) {
    .faq-nav {
        display: none;
    }
}

@media screen and (max-width: 999px) {
    .topnav .menu {
        display: none;
      }

    .topnav a:not(:first-child) {
        display: none;
    }

    .topnav a.menu {
      float: right;
      display: block;
    }

    .topnav.responsive {
        position: relative;
        flex-direction: column;
    }

    .topnav.responsive .menu {
      position: absolute;
      right: 0;
      top: 0;
    }

    .topnav.responsive a {
      float: none;
      display: block;
      text-align: left;
    }
}

@media screen and (min-width: 1000px) {

    .phone-nav {
        display: none;
    }

    section h2, aside h2 {
        text-align: left;
    }

    .logoImage.logoFade:hover, .logo2.logoFade:hover {
        animation: logo 5s infinite;
    }

    @keyframes logo {
        0%, 100% {
            opacity: 1;
        }
        50% {
            opacity: 0;
        }
    }

    .button:hover {
        background-color: var(--link-hover);
    }

    .button:active {
        top: 3px;
        left: 3px
    }

    #mainFlex {
        display: flex;
        align-content: flex-start;
    }
    
    #sectFlex {
        flex: 1 1 60%;
        padding: 1em;
        align-self: auto;
    }

    .navFlex {
        display: flex;
        flex: 1 0 15%;
        padding: 2em;
        flex-flow: column wrap;
        min-width: 200px;
    }
    
    aside {
        flex: 1 1 17.2%;
        padding: 1em;
    }

    .about-flex {
        display: flex;
    }

    .flex-div {
        width: 33%;
        padding: 0 2em;
    }
    
    #border {
        box-sizing: border-box;
        border-radius: 0%;
        margin-bottom: 8px;
        padding-bottom: 8px;
        width: auto;
    }
    
    figure {
        box-sizing: border-box;
        display: block;
        float: left;
        height: auto;
        width: auto;
        margin: 1em 2.5em;
    }

    .figureBorder:hover {
        border: var(--border-color2) medium solid;
    }

    .figcapBorder:hover {
        border-top: var(--border-color2) medium solid;
    }

    .figureBorder {
        transition: border 2s;
        -moz-transition: border 2s;
        -webkit-transition: border 2s;
        -o-transition: border 2s;
    }

    .figcapBorder {
        transition: border 2s;
        -moz-transition: border 2s;
        -webkit-transition: border 2s;
        -o-transition: border 2s;
    }
    
    footer > p {
        margin: 0;
        padding: 10px 0;
    }

    .footerPyro {
        display: inline-block;
        right: 1px;
        max-width: 50px;
        max-height: 50px;
        -webkit-transform: rotate(-6deg);
        -moz-transform: rotate(-6deg);
        -o-transform: rotate(-6deg);
        -ms-transform: rotate(-6deg);
        transform: rotate(-6deg);
    }

    .footerFrost {
        display: inline-block;
        left: 1px;
        max-width: 50px;
        max-height: 50px;
        -webkit-transform: rotate(6deg);
        -moz-transform: rotate(6deg);
        -o-transform: rotate(6deg);
        -ms-transform: rotate(6deg);
        transform: rotate(6deg);
    }
}