header {
    height: 20vw;
    width: 100%;
    background: url(../images/Persona+4+Golden.png);
    background-size: cover;
}

h1 {
    margin: 1.34em 0;
}

h2 {
    margin: 1.245em 0;
}

h3 {
    margin: 1.3em 0;
}

#headerText {
    text-align: center;
}

#nav {
    position: sticky;
    top: 0;
}

nav li {
    padding: .75em;
}

.icon {
    padding: 0 6px 0 6px;
}

ul {
    margin: 1em;
}

li {
    padding: 4px;
}

#logoImage {
    position: absolute;
    display: inline-block;
    top: 1px;
    right: 1px;
    max-width: 40px;
}

p {
    margin: 1.2em 0;
}

footer {
    clear: both;
    padding: 2em;
}

/* @media screen and (min-width: 500px) {

    .navFlex {
        display: flex;
        flex: 1 0 15%;
        padding: 1em;
        flex-flow: column wrap;
        min-width: 200px;
    }


    #logoImage {
        top: 20px;
        right: 8px;
        max-width: 40px;
    }

} */

@media screen and (min-width: 1000px) {

    #mainFlex {
        display: flex;
        align-content: flex-start;
    }

    #sectFlex {
        flex: 1 1 60%;
        padding: 1em;
        align-self: auto;
    }

    aside {
        flex: 1 1 17.2%;
        padding: 1em;
    }

blockquote {
    margin: 1.2em 0;
}

p {
    margin: 1.2em 0;
}

#border {
    box-sizing: border-box;
    border-radius: 0%;
    margin-bottom: 8px;
    padding-bottom: 8px;
    width: auto;
}

figure {
    box-sizing: border-box;
    display: block;
    float: left;
    height: auto;
    width: auto;
    margin: 1em 0;
}

.flexImage {
    max-width: 100%;
}

footer {
    clear: both;
}

footer > p {
    margin: 0;
    padding: 10px 0;
}

@media screen and (max-width: 499) {
    header {
        background: none;
        background-size: none;
    }

    .nav {
        display: none;
    }

    .navFlex {
        display: none;
    }

    #navGrid {
        display: none;
    }

    .body {
        display: none;
    }

    
}


@media screen and (min-width: 500px) {

    .navFlex {
        display: flex;
        flex: 1 0 15%;
        padding: 1em;
        flex-flow: column wrap;
        min-width: 200px;
    }


    #logoImage {
        top: 20px;
        right: 8px;
        max-width: 40px;
    }

}

@media screen and (min-width: 1000px) {

    figure {
        margin: 1em 2.5em;
    }
    
    .flexImage {
        max-width: 100%;
    }
    
    footer > p {
        margin: 0;
        padding: 10px 0;
    }
}