* {
    box-sizing: border-box;
}

body {
    display: grid;
    grid-template-rows: [header-start] 1fr [content-start] auto [footer-start] 10vh;
    grid-template-columns: [nav] 1fr [main] 3fr [aside] 1fr;
    grid-template-areas:
    "head head head"
    "nav main aside"
    "foot foot foot";
}

.header {
    grid-area: head;
}

.nav {
    grid-area: nav;
    display: flex;
    flex: 1 0 15%;
    padding: 1em;
    flex-flow: column wrap;
    min-width: 200px;
}

.main {
    grid-area: main;
}

.main h2 {
    text-align: center;
}

.aside {
    grid-area: aside;
    display: flex;
    flex: 1 1 17.2%;
    padding: 1em;
    flex-flow: column wrap;
}

.aside h2 {
    text-align: center;
}

#flexFigure {
    display: block;
    float: right;
    height: auto;
    width: auto;
}

.footer {
    grid-area: foot;
}
