* {
    box-sizing: border-box;
}

@media screen and (max-width: 499px) {
    .mobile-h2, .aside {
        display: none;
    }

    ul {
        margin: 0;
    }

    h2 {
        text-align: center;
    }
}

@media screen and (min-width: 700px) {
    .mobile, .mobile-main {
        display: none;
    }

    nav h2, ul {
        margin: 0;
    }

    .body {
        display: grid;
        grid-template-rows: [header-start] 1fr [content-start] auto [footer-start] 0fr;
        grid-template-columns: [nav] 1fr [main] 3fr [aside] 1fr;
        grid-template-areas:
        "head head head"
        "nav main aside"
        "nav foot aside";
    }
    
    .header {
        grid-area: head;
    }
    
    .nav {
        grid-area: nav;
        display: flex;
        flex: 1 0 15%;
        padding: 2em;
        flex-flow: column wrap;
        min-width: 200px;
    }
    
    .main {
        grid-area: main;
    }

    main .flexFigure {
        max-width: 50%;
    }
    
    .main h2 {
        text-align: center;
    }
    
    .aside {
        grid-area: aside;
        display: flex;
        flex: 1 1 17.2%;
        padding: 1em;
        flex-flow: column wrap;
    }
    
    .aside h2 {
        text-align: center;
    }
    
    .flexImage {
        float: none;
        height: auto;
        width: auto;
    }
    
    .flexFigure {
        align-items: end;
        height: auto;
        width: auto;
    }
    
    .footer {
        grid-area: foot;
    }

    .footer p {
        margin-top: 0.2em;
    }
}

@media screen and (min-width: 1000px) {
    ul {
        margin: 1em;
    }
}