* {
    margin: 0;
    padding: 0;
    border: 0;
    box-sizing: border-box;
}

body {
    font-family: sans-serif;
}

main {
    margin: auto 1.5em;
}

header h1{
    font-weight: 400; 
    font-family: gilda-display;
}

nav {
    background-image: var(--gradient1);
}

#navFlex {
    background-image: var(--gradient2);
}

#navGrid {
    background-image: var(--gradient2);
}

nav li {
    list-style-type: none;
    display: inline-block;
}

h2, h3 {
    font-weight: bold;
    font-family:'Times New Roman', Times, serif;
    color: var(--header-red);
}

h2 {
    font-size: x-large;
}

#h2Text {
    text-align: center;
}

h3 {
    font-size: 1.3em;
}

li {
    font: 1.2em Arial, Helvetica, sans-serif;
}

p, blockquote {
    font: 1.2em Arial, Helvetica, sans-serif;
}

#asideFlex {
    background-image: var(--gradient2);
}

#border {
    border: var(--light-blue) medium solid;
    background-image: var(--radial);
}

figure {
    text-align: center;
    margin: 1em;
}

#figureBorder {
    border: var(--light-blue) medium solid;
    border-radius: 6px;
}

.figcapBorder {
    border-top: var(--light-blue) medium solid;
}

footer {
    text-align: center;
}

@font-face {
    font-family: gilda-display;
    src: url('../fonts/GildaDisplay-Regular.ttf') format("truetype");
}