/* Analogous*/

:root {
    --text1:#000000;
    --text2: #ffffff;
    --main-bg: #0077BB;
    --accent-blue: #222255;
    --light-blue: #77AADD;
    --link-icon: #117733;
    --link-hover: #228833;
    --link-visited: #225522;
    --header-color:#99DDFF;
    --border-color1: #44BB99;
    --border-color2: #225555;
    --button-text: #ffffff;
    --gradient1: linear-gradient(to right,  #44AA99, #6699CC, #44AA99);
    --gradient2: linear-gradient(to bottom,  #44AA99, #6699CC, #44AA99);
    --radial: radial-gradient(#004488 40%, #0077BB 80%, #6699CC);
}

.body-color {
    background-color: var(--main-bg);
    color: var(--text2);
}

.bg {
    background-color: var(--main-bg);
}

.header-top {
    background-color: var(--main-bg);
    color: var(--accent-blue);
}

.nav-bg {
    background-image: var(--gradient1);
}

.aside-color {
    background-image: var(--gradient1);
}

.link, .menu {
    color: var(--link-icon);
}

.link:hover {
    color: var(--link-hover);
}

.link:visited {
    color: var(--link-visited);
}

.light-blue {
    color: var(--light-blue);
}

.header-color {
    color: var(--header-color);
}

#border {
    border: var(--border-color1) medium solid;
}

#figureBorder {
    border: var(--border-color1) medium solid;
    border-radius: 6px;
}

.figcapBorder {
    border-top: var(--border-color1) medium solid;
}

.footer-color {
    background-image: var(--gradient1);
    color: var(--text2);
}